.maincontent{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url('../Images/homebanner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    min-height: 60vh;
    background-size: cover;
}
.headernav {
  float: right;
}
.logoimg{
    height: 60px;
}
.mainheader{
    background-color: #880E4F;
    /* background-color: #DC143C; */
}
.list-group-item {
  background-color: transparent;
  border: none;
  color: #fff;
}
.nameclass{
    color:#c9860a
}
.quoteclass{
    color:#1dc906
}
.headernav li router-link{
    text-decoration: none;
    color: white;
}

.anchorstyle:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}

.logo router-link{
    text-decoration: none;
    color: white;
}
.logo{
    font-family:cursive;
   
}
.logo h4{
    float: left;
}

.thmbtn1{
    background-color:#880E4F ;
    color: white;
    border: none;
    padding: 10px;
    min-width: 90px;
    text-decoration: none;
}
.thmbtn1:hover{
    color: white;
    text-decoration: none;
}
.thmbtn2{
    background-color:#880E4F ;
    color: white;
    border: none;
    padding: 10px;
    min-width: 90px;
}
.thmbtn2:hover{
    color: white;
    text-decoration: none;
}

.mainnavbar{
    background-color:#FCE4EC;
}

.detailsdiv{
    padding: 100px 30px;
}
.detailsimg{
    height: 150px;
    width: 150px;
}
.footer{
    background-color: #880E4F;
    color: white;
    bottom: 0;
}

@media screen and (max-width: 768px) {

    .logo h4{
        float: left;
    }
    .logo{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }
    .footerlogomobile{
        display: inline !important;
    }
    .mobilefooterlogo{
        float: left;
    }
    .mobilefooterlogotext{
        margin-top: 20px;
    }
    
}



.lastfooter{
    background-color:#640839 ;
}