.checked{
    color: orange;
}

@media screen and (min-width: 520px) and (max-device-width: 768px)  {

    .thmbtn2{
        margin-top: 10px;
    }
    
}
.productimage{
    max-height: 500px;
    width: 100%;
}
.likedislike{
    cursor: pointer;
    font-size: 23px;
}
.mainlikedislike{
    display: flex;
}
.dislike{
    margin-top: auto;
}

.datesize{
    font-size: small;
}
.maincardcomment{
    max-height: 150px;
    min-height: 150px;
}
.cursorclass{
cursor: pointer;
}