.cardimage{
    height:170px;
    width: 100%;
    background-color: gray;
    border-radius: 10px 10px 0px 0px;

}

.cardlist{
    /* border: 1px solid black; */
    width: 100%;
    padding-left:0 ;
}
.cardlist li{
    padding: 7px !important;
    list-style: none;
    border-bottom: 1px solid gray;
    
}
.cardlist li:last-child{
    border-bottom: none;
}
.cardlist li a{
   text-decoration: none;
   color: black;
}
.hrline{
    padding: 0;
    margin: 0;
}
.cardbox{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
}
.categoriesheader {
    padding: 10px;
    text-align: center;
  }
  
  .catogriescontent{
      display: flex;
      justify-content:space-evenly;
      flex-wrap:wrap;
      padding: 10px;
  }
  .cardbox ul li:hover > a{
      color: #bd0667;
  }

 